body {
  margin: 0;
  font-family: Source Sans Pro;
  font-size: .85rem;
}

.container {
  position: relative;
  width: 100%;
  margin: 0; padding: 0 0 78.35% 0;
  background-image: url(../../img/exquisite-sinner-1200x940.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.container svg {
  position: absolute;
  left: 0; top: 0; bottom: 0; right: 0;
}

svg .shape {
  opacity: 0;
  cursor: pointer;
  transition: 0.25s;
  fill: #bf7f30;
}

svg .shape:hover, svg .shape.on {
  opacity: 0.65;
}

/*
.infobox {
  opacity: 0;
  position: absolute;
  top: 0px;  left: 0px; height: 40%; right: 0px;
  background-color: #e7e5d8;
  transition: 0.2s;
  box-sizing: border-box;
}
*/
.infobox {
  opacity: 0;
  position: absolute;
  top: 5%;  left: 5%; height: 35%; width: 60%;
  border-radius: 12px;
  background-color: #fff;
  -webkit-animation-duration: 1s !important;
  animation-duration: 1s !important;
}

.infobox.visible {
  opacity: 1;
}

.infobox .content {
  margin: 1.5%;
}
