body {
  position: relative;
  margin: 0;
  font-family: Source Sans Pro;
  font-size: .85rem;
}

.container {
  position: relative; overflow: hidden;
  width: 100%;
  margin: 0; padding: 0 0 78.35% 0;
  background-image: url(../../img/exquisite-sinner-1200x940.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.container svg {
  position: absolute;
  left: 0; top: 0; bottom: 0; right: 0;
}

svg .shape {
  opacity: 0;
  cursor: pointer;
  transition: 0.5s;
  mix-blend-mode: soft-light;
}

svg .shape.on {
  opacity: 1;
  mix-blend-mode: hard-light !important; 
}

svg .shape:hover {
  opacity: 1;
  mix-blend-mode: soft-light;
}


/*
#shape1 { fill: #33f; }
#shape2 { fill: #f33; }
#shape3 { fill: #3ff; }
#shape4 { fill: #3f3; }
#shape5 { fill: #f3f; }
*/
.shape { fill: #f90; }
.shape { fill: #bf7f30; }

#viewer {
  position: absolute; overflow: hidden;
  top: 5%;  left: 5%; height: 35%; width: 60%;
  margin: 0;
  border-radius: 4px;
  padding: 36px 24px 12px 24px;
  background-color: #fff;
  -webkit-animation-duration: 0.35s !important;
  animation-duration: 0.35s !important;
  box-sizing: border-box;
  opacity: 0;
}

#viewer.visible {
  opacity: 1;
}


.viewerContent {
  position: relative;
  margin: 0; padding: 0;
}

.viewerContent p {
  line-height: 20.4px;
  color: #222;
}

/*
.viewerClose:before {
  display: block; position: fixed;
  top: 4px; right: 16px; line-height: 0.5;
  color: #222;
  font-size: 2.5rem; font-weight: 700;
  content: "×";
  opacity: 0.5;
  cursor: pointer;
  transition: 0.25s;
}

.viewerClose:hover:before, .viewerClose.on:before {
  opacity: 1;
}

*/
.viewerContent .name {
  font-size: 1.125rem;
  font-weight: 700;
}